fastapi
uvicorn
pydantic
httpx
langchain
langchain-core
langchain-text-splitters
langchain-community
langchain-classic
langchain-openai
langchain-huggingface
langchain-milvus
pymilvus
sentence-transformers
jieba
PyMuPDF
tqdm
