fastapi==0.116.1
uvicorn[standard]==0.35.0
streamlit==1.48.1
sqlalchemy==2.0.43
pymysql==1.1.1
redis==6.4.0
pymilvus==2.5.14
sentence-transformers==6.1.0
transformers==5.0.0
tokenizers==0.23.0rc0
torch>=2.4,<3
torchvision>=0.20,<1
einops>=0.8,<1
numpy==2.3.5
Pillow==11.3.0
protobuf==6.33.6
paddlepaddle==3.2.2
paddleocr==3.7.0
pymupdf==1.26.4
python-multipart==0.0.20
pydantic-settings==2.10.1
PyJWT==2.10.1
httpx==0.28.1
requests==2.32.5
reportlab==4.4.3
