langchain==0.3.30
langchain-community==0.3.30
langchain-core==0.3.86
chromadb==0.5.23
sentence-transformers==3.3.1
transformers==4.46.3
accelerate==1.0.1
bitsandbytes==0.44.1
pdfplumber
pymupdf
jieba
rank_bm25
gradio
networkx
pyvis
matplotlib
